.dash {
  height: 90vh;
  width: 100vw;
  background-color: rgb(29, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashForm {
  height: 60vh;
  width: 80vw;
  background-color: rgb(175, 174, 174);
}

.functionality{
  height: 5vh;
  width: 80vw;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons {
  border: none;
  color: white;
  background: none;
  cursor: pointer;
}