.App {
  display: flex;
  flex-direction: column;
}

.header {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(63, 114, 235);
}

.homeHeader {
  color: black;
  margin: 40px;
}
